# IA y agentes
google-generativeai
langchain-google-genai
langchain
langchain-community
langgraph
langchain-groq

# API
fastapi
uvicorn

# Base de datos
sqlalchemy
psycopg2-binary
alembic

# RAG vectorial
chromadb
sentence-transformers

# Procesamiento documentos
pdfplumber
pytesseract
pillow

# Frontend MVP
streamlit

# Utilidades
python-dotenv
pydantic
httpx
